{
    "key" : "api-key-goes-here",
    "auth" : true,
    "url" : "http://webhook@example.com",
    "forwarders" : [
        {
            "from" : "*@example.com",
            "to" : "example@gmail.com"
        }
    ]
}
